Curso Desarrollo Web 1º/Lenguaje de Marcas/Tema_3/Actividades/Ejercicios_Pdfs/ListaEjerciciosConAtributosDTD/Ejercicio_3_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mezclas_de_colores">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mezcla" maxOccurs="unbounded">
					<xs:complexType>
							<xs:sequence>
								<xs:element name="color" type="xs:string" minOccurs="2" maxOccurs="unbounded"/>
							</xs:sequence>	
						<xs:attribute name="resultado" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	
	</xs:element>
</xs:schema>