Curso Desarrollo Web 1º/Lenguaje de Marcas/Tema_3/Actividades/Ejercicios_Pdfs/LISTAEjerciciosSinAtributosDTD/Ejercicio2DTD.dtd

<!ELEMENT catelera (peliculas)>
<!ELEMENT peliculas (pelicula)*>
<!ELEMENT pelicula (titulo, Titulo_orginal, Director, Interpretes, Siponsis, url, clasificacion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT Titulo_orginal (#PCDATA)>
<!ELEMENT Director (#PCDATA)>
<!ELEMENT Interpretes (#PCDATA)>
<!ELEMENT Siponsis (#PCDATA)>
<!ELEMENT url EMPTY>
<!ELEMENT clasificacion (#PCDATA)>