Curso Desarrollo Web 1º/Lenguaje de Marcas/Tema_3/Actividades/Ejercicio_2_XSD.xsd

<?xml version = "1.0" encoding = "UTF-8"?>


<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
	<xs:element name="persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datos"/>
					<xs:complexType>
				<xs:element name="comentario" minOccurs="0"/>
					</xs:complexType>
			<xs:attribute name="nacimiento" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>