Curso Desarrollo Web 1º/Lenguaje de Marcas/Tema_3/Actividades/Ejercicios_Pdfs/Actividades xsd/Biblioteca.xsd.xml

<?xml version = "1.0" encoding = "UTF-8"?>

<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
	
	<xs:elemnt name ="BIBLIOTECA">
	
		<xs:complexType>
			<xs:sequence>
				<xs:element name ="Libro" maxOccurs ="unbounded">
						<xs:complexType>
						<xs:sequence>
							<xs:element name="Titulo" type="xs:string"/>
							<xs:element name="Autor" type="xs:string"/>
							<xs:element name="ISBN" type="xs:string"/>
						</xs:sequence>
						</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>