Curso Desarrollo Web 1º/Lenguaje de Marcas/Tema_3/Ejercicios_DTD_ListaConAtributo/Ejercicio_I.dtd

<?xml version = "1.0" encoding = "UTF-8"?>


<!DOCTYPE hechos_historicos [
    <!ELEMENT hechos_historicos (hecho)*>
    <!ELEMENT hecho (fecha)>
        <!ATTLIST hecho descripcion #IMPLIED>
    <!ELEMENT fecha (dia, mes, anio)>
    <!ELEMENT dia (#PCDATA)>
    <!ELEMENT mes (#PCDATA)>
    <!ELEMENT anio (#PCDATA)>
]>